<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.tinkoff.favouritepersons">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_app_icon"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>